@import "styles/utils";

.countdown {
  display: flex;

    .countdownBlock {
      position: relative;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.2;
      text-align: left;
      letter-spacing: -1px;
      color: #fff;
      z-index: 1;
      display: flex;


    }

  .label {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    padding: 0 2px;
  }
}
