@import "styles/utils";

.header {
    background-size: cover;
    position: relative;
    font-family: var(--font-mono);
    background-repeat: no-repeat;
    background-size: auto, auto, auto, cover;
    background-blend-mode: color, multiply, normal, normal;
    background-position: 0 0, 0 0, 0 0, center 20%;
    background-image:
        linear-gradient(0deg, #CE022C, #CE022C),
        linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
        linear-gradient(0deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), url('../assets/Image.jpg');
    overflow:hidden;
    padding: 50px 0 90px;

    p, h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-mono);
    }
    h1, h2, h3, h4, h5 {
        color: $white;
    }
    h1 {
        font-size: 60px;
        font-weight: 800;
        text-transform: uppercase;
        @include media("<tablet") {
          font-size: 30px;
        }
    }
    h2 {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        @include media("<tablet") {
          font-size: 13px;
          line-height:20px;
        }
    }
    h5 {
        text-transform:uppercase;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .headerText {
        position: relative;
        z-index: 2;
        }
    .countdownSection {
        display: flex;
        padding: 0 0 30px 50px;
        @media (max-width:1399px) {
          padding: 0 0 30px 10px;
        }
        h5 {
            display: inline;
            letter-spacing: 2px;
            @include media("<tablet") {
              font-size: 11px;
            }
        }
        .countdownContainerOutter {
            display: flex;
            .countdownContainer {
                display: flex;
                padding-left: 5px;
                span {
                    display: flex;
                    padding-left: 5px;
                }
            }
        }
    }
    .nextContest {
        display: flex;
        align-items: center;
        padding: 0 0 20px;
        h3 {
            color: $white;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            padding:0 0 3px;
            margin:0;
            letter-spacing:1px;
            @include media("<tablet") {
              font-size: 11px;
            }
        }
        h4 {
            color: $red;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 800;
            padding:0;
            margin:0;
            letter-spacing:1px;
            @include media("<tablet") {
              font-size: 13px;
            }
        }
        .image {
            margin-right: 10px;
            max-width: 76px;
            @include media("<tablet") {
              max-width: 60px;
              img {
                width: 100%;
              }
            }
        }
    }
    .presentedBy {
        display: flex;
        align-items: center;
        padding: 15px 0 10px;
        @include media("<tablet") {
          padding: 35px 0 30px;
        }
        p {
            font-size: 18px;
            color: $white;
            font-weight: 300;
            line-height: 1.2;
            text-transform: uppercase;
            padding:0;
            margin:0;
            span {
                color: $red;
                font-weight: 800;
            }
        }
        .image {
            max-width: 50px;
            margin-left: 10px;
        }
    }
    .boxDescription {
        margin: 50px 0 0;
        padding: 20px 0 0;
        p {
            color: $white;
            font-size: 14px;
            @include media("<tablet") {
              padding:0 0 30px;
              margin:0;
              font-size:13px;
            }
        }
        border-top: solid 1px $red;
        @include media("<desktop") {
            margin: 30px 0 0;
        }
        @include media("<tablet") {
          margin: 0;
        }
    }
    .carouselContainer {
      padding-top: 50px;
        padding-left: 11em;
        @media (max-width:1400px) {
          padding-left: 0em;
        }
        @include media("<desktop") {
            padding-left: 0em;
            padding-top: 20px;
          }
    }
    .calltoaction{
      padding: 0;
    }
}
.videos {
    @include media("<tablet") {
      padding: 50px 0;
    }
    p, h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-mono);
    }
    background: $white;
    padding: 68px 0;
    h3 {
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        padding: 0 0 70px;
        margin:0;
        text-transform: uppercase;
        @include media("<tablet") {
          font-size: 18px;
          padding: 0 0 30px;
        }
        span {
            color: $red;
        }
    }
}
.cta {
    p, h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-mono);
    }
    background: #F5F5F5;
    padding: 100px 0;
    text-align: center;
    h3 {
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        padding: 0 0 20px;
        margin:0;
        text-transform: uppercase;
        @include media("<tablet") {
          font-size: 18px;
        }
        span {
            color: $red;
        }
    }
    p {
        color: $black;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
        width: 100%;
        max-width: 770px;
        margin:0 auto;
        @include media("<tablet") {
          font-size: 13px;
        }
    }
}
.desktop {
    display: block;
    @include media("<tablet") {
        display: none;
      }
}
.mobile {
    display: none;
    @include media("<tablet") {
        display: block;
      }
}
body .footer .row {
    align-items: center !important; 
}
.footer {
    font-family: var(--font-mono);
    background: $darkRed;
    padding: 30px 0;
    p {
        color: $white;
        padding:0;
        margin:0;
        font-size: 12px;
        font-weight: 600;
        @include media("<desktop") { 
            width: 100%;
            display:block;
            text-align: center;
         }
         @include media("<tablet") {
          font-size: 10px;
        }
    }
    a {
        color: $lightRed;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .flex {
        display: flex;
        align-items: center;
        @include media("<desktop") { 
            flex-wrap: wrap;
        }
    }
    .footerlogo {
        display: flex;
        align-items: center;;
        @include media("<desktop") { 
           align-items: center;
           justify-content: center;
           flex-wrap: wrap;
        }
        img {
            margin-right: 20px;
        }

    }
    ul {
        list-style: none;
        text-align: right;
        padding:0;
        margin:0;
        @include media("<desktop") { 
            text-align: center;
            padding: 10px 0 20px;
         }
        li {
            display: inline-block;
            padding-left: 20px;
            position: relative;
            padding-bottom:0;
            font-size: 12px;
            font-weight: 600;
            &:before {
                content:'|';
                color: #fff;
                position: absolute;
                right:-13px;
            }
            &:last-of-type {
                &:before {
                    content: none;
                }
            }
        }
    }
}